*{
  box-sizing: border-box;
}

:root {
  /*Paleta de colores*/
    --white: #ffffff;
    --dark-bg-color: black;
    --yellow-bg-color: #FFBE0B;
    --orange: #FB5607;
    --blue: #3A86FF;
    --purple: #8338EC;
    --the-purple: #592e83;
    --middle-purple: #9984d4;
    --light-purple: #caa8f5;
    --clarito:#ffe5b5;
    --dark-purple: #230c33;
    --verde: #00FF40;
    /*Fuete Principal*/
    --ui: 'Kantumruy Pro', sans-serif;
    --titulos:'DM Serif Display', serif;
    /*Tamaños de Fuente*/
    --titulos-size:40px;
    --ui-size: 20px;
}

body{
  margin:0;
  padding: 0;
}

