* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  background-color: antiquewhite;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dragZone {
  border: dashed 2px rgba(0, 0, 0, 0.603);
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
