.root{
    height: 7vh;
    width: 7vh;
}

.trilineContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.crosslineContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
}

.cross{
    background-color: var(--clarito);
    border-radius: 3px;
}