.root {
  background-color: #230c33;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
  font-family: "Roboto";
}
