.root{
    background-color: var(--clarito);
    max-width: 250px;
    min-height: 30vh;
    border-radius: 20px;
}
.imageContainer{
    min-height: 25vh;
    background-color: red;
    border-radius: 20px;
    width: 100%;
}
.petDataContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: red;
}