.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.452);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.cartel {
  background-color: #ffc107;
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  animation: fadein 0.6s ease;
}

.cartelEquisContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textAndButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textContainer {
  text-align: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
