.root{
    height: 11vh;
    max-width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--the-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

.container{
    width: 90%;
    height: 11vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}